.exp-sec{
    background:url(../img/wall-bg1.png);
    .items{
        padding:56px 0;
        h2{
            font-size: 26px;
            color:$black-color;
            font-weight: 700;
        }
    }
}