@import "./variables";
body {
	font-family: $Lato;
	font-weight: normal;
}
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
}
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a,
button {
	color: $btn-color;
	outline: medium none;
}
.btn{
	background:$btn-color;
	color:$white-color;
	font-weight: 700;
	padding:12px 44px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}
.btn.active{
	color:$theme-color;
}
.btn:hover{
	color:$theme-color;
}


.btn-outline{
	background: transparent;
	// border:2px solid $white-color;
	outline: medium;
}
.btn-outline:hover{
	background:$btn-color;
	border:2px solid $btn-color;  
}

// text-underline 


.txt-under-left{
	position: relative;
}
.txt-under-left::after{
	position: absolute;
	content: "";
	left: 0;
	bottom:-15px;
	width: 15%;
	border-bottom:3px solid $theme-color;
}

.txt-under-center{
	position: relative;
}
.txt-under-center::after{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	margin: auto;
	bottom:-20px;
	width: 10%;
	border-bottom:3px solid $theme-color;
}




h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $Lato;
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 2.1875rem;
	font-weight: 900;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	color: #666666;
	margin-bottom: 0;
}



/*		Selection		*/

*::-moz-selection {
	background: #013e99;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #013e99;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #013e99;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	font-size: 14px;
	opacity: 1;
}

#scrollUp {
	bottom: 20px;
	right: 20px;
	padding:14px 20px;
	background-color: $btn-color;
	color: $white-color;
	border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-ms-border-radius:50px;
	-o-border-radius:50px;
}

// Sticky Header 

.menubar-area.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: #ffff;box-shadow: 0px 7px 33px -7px rgba(0,0,0,0.39);
}

#scrollUp i{	
	font-size: 25px;
}
#scrollUp:hover{	
	background: $black-color;
	color:$btn-color;
}