$theme-color:#013e99;
$btn-color:#ffb619;
$bg-color:#f2f2f2;
$white-color:#ffffff;
$black-color:#333333;
$footer-color:#1a1a1a;


$hv-color:#013e99;
$font-color:#666666;
$ft-font-color:#cccccc;
$Lato:'Lato', sans-serif;
$Montserrat:'Montserrat', sans-serif;